@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  margin: 0;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: fadeOut 1s ease-in-out 4s forwards;
}

.spanner img {
  width: 15vw;
  height: auto;
  background-color: black;
  border-radius: 5px;
  position: relative;
  transform-origin: 80% 50%;
  animation: tighten 1.5s ease-in-out forwards;
}

.company-name {
  font-family: "Syncopate", serif;
  font-size: 80px;
  font-weight: bold;
  color: #333;
  opacity: 0;
  margin-left: 15px;
  animation: fadeIn 1.2s ease-in-out 2s forwards;
}

/* Main Header Styling */
.main-header,
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Logo Styling */
.logo-img {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
}

.nav-bar a {
  margin: 0 10px;
  padding: 20px 30px;
  font-family: "Syncopate", serif;
  text-decoration: none;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.nav-bar a:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}

/* Animation keyframes */
@keyframes tighten {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(-500px, -320px);
    visibility: hidden;
  }
}
